[Unit]
Description=QVEX Telegram Notification Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/qvex
ExecStart=/opt/qvex/venv/bin/python -u tg_bot_service.py
Restart=always
RestartSec=5s

MemoryMax=300M
CPUQuota=40%

Environment=PYTHONUNBUFFERED=1
Environment=PYTHONIOENCODING=utf-8

[Install]
WantedBy=multi-user.target
